body {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-areas: "leftSide" "rightSide";
}

leftSide {
  background-color: white;
  position: fixed;
  height: 100%;
  width: 50%;
  left: 0;
}

#rightSide {
  background-color: lightgrey;
  position: fixed;
  height: 100%;
  width: 50%;
  right: 0;
}

.header {
  color: black;
  inline-size: 0vh;
}

.bars {
  fill: black;
  right: 15%;
  position: fixed;
  transform: scaleY(-1);
}