body {
  background-color: grey;
}

.list {
  display: flex;
  float: left;
}

.headerContainer {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header {
  color: black;
  inline-size: 0vh;
}

.bars {
  fill: black;
  position: fixed;
  transform: scaleY(-1);
  bottom: 0;
  left: 2;
  right: 2;
}