body {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-areas: "leftSide" "rightSide";
}

.header {
  color: black;
  inline-size: 0vh;
}

.bars {
  fill: black;
  right: 15%;
  position: fixed;
  transform: scaleY(-1);
}