main {
  display: grid;
  grid-template-areas: 
    "headerContainer  barsContainer";
}

.headerContainer {
  display: block;
}

.barsContainer {
  display: block;
}

.bars {
  fill: black;
  float: left;
  transform: scaleY(-1);
}